body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: center;
  margin-top: 1rem;
}
h1 {
  text-align: center;
}
h2 {
  align-self: baseline;
  padding: 0 1.5rem;
  margin: 1.5rem 0 0;
}
h3 {
  width: 95%;
  text-transform: uppercase;
  color: #e63900;
  border-top: 3px solid black;
  padding: 0.5rem 0 0 1.5rem;
}
p {
  display: flex;
  width: inherit;
  font-size: 0.8rem;
}
button {
  font-family: inherit;
}
.timestamp {
  justify-content: center;
  color: #e63900;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.hidden {
  display: none;
}
.todo-input {
  padding: 0.4em 0.25em;
  margin-bottom: 1rem;
  background: transparent;
  color: black;
  font-size: 1.55em;
  border: none;
  border-bottom-style: inset;
  font-family: "Roboto";
}
.select-container,
.input-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.select-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#todo-btn,
#save-btn {
  display: flex;
  align-self: flex-end;
  width: 5rem;
  height: 25px;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #e63900;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}
.day-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 0.5rem;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 100%;
}
ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  width: inherit;
  align-items: center;
  /* checkbox styling */
  position: relative;
}
li label {
  display: flex;
  width: -webkit-fill-available;
  font-size: 1.2rem;
}
/* checkbox styling */
li label:before,
li label:after {
  pointer-events: none;
}
li label:before {
  display: flex;
  content: " ";
  height: 15px;
  width: 15px;
  border: 2.5px solid #000;
  background: #fff;
  margin-right: 10px;
}
li label:after {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  content: " ";
  height: 12px;
  width: 12px;
  background: #000;
  transform: scale(0);
  transition: transform 0.3s ease;
}
li label:after {
  height: 5px;
  width: 12px;
  left: 5px;
  border-bottom: solid 4px #000;
  border-left: solid 4px #000;
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform-origin: center center;
}
li input[type="checkbox"]:checked + label:after {
  opacity: 1;
  top: 35%;
  left: 2px;
  transform: rotate(-45deg) scale(0.7);
}
input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: -2px;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
}
/* not working bcs label isn't display: block*/
label::first-letter {
  text-transform: uppercase;
}
.checkbox:checked + label {
  text-decoration: line-through;
  text-decoration-thickness: 0.14em;
}
.sort-btn-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 30px;
  justify-content: space-between;
  padding-left: 0.2rem;
}
.sort-order-btn {
  display: flex;
  align-self: center;
  padding: 0.1rem;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  font-size: medium;
  font-weight: 700;
  height: 15px;
}
.asc:before {
  content: "▲";
}
.desc:before {
  content: "▼";
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin: 0 1.5rem;
}
.edit-btn,
.delete-btn {
  background-color: inherit;
  border: none;
}
.edit-btn {
  transform: rotate(90deg);
  font-size: large;
  font-weight: 500;
}
.edit-btn::before {
  content: "✎";
}
.edit-btn:hover {
  color: #e63900;
  transform: rotate(90deg) scale(1.5);
  border: 0.2px solid #e63900;
  border-radius: 5px;
}
.delete-btn {
  font-size: medium;
  font-weight: 700;
}
.delete-btn:before {
  content: "X";
}
.delete-btn:hover {
  transform: scale(1.5);
}
.delete-todo {
  display: none;
}
.filter-day {
  display: flex;
  flex-direction: row;
  color: red;
}

@media (min-width: 688px) {
  h3 {
    width: -webkit-fill-available;
  }
  .main-container {
    border: 2px solid #e63900;
    border-radius: 5px;
  }
  form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  #todo-btn {
    align-self: center;
    margin-top: 5px;
  }
}
