body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  align-items: center;
  border: 2px solid #e63900;
}
h1 {
  text-align: center;
}
h3 {
  text-transform: capitalize;
  color: #e63900;
}
p {
  font-size: 0.8rem;
}
.timestamp {
  text-align: center;
  color: #e63900;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-input {
  padding: 0.4em 0.25em;
  margin-bottom: 1rem;
  width: 100%;
  background: transparent;
  color: #afb5bb;
  font-size: 1.55em;
  border: none;
  border-bottom-style: inset;
}
.select-container,
.input-container {
  display: flex;
  flex-direction: column;
}
todo-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  width: 100%;
  margin-top: 1.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  font-size: 1.2rem;
}
.todo-div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-bottom: 1px solid black;
}
.todo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}
.checked + label {
  text-decoration: line-through;
}
.delete-btn {
  background-color: inherit;
  border: none;
  font-size: medium;
  font-weight: 700;
}
.delete-btn::before {
  content: "X";
}
.delete-todo {
  display: none;
}
.filter-day {
  display: flex;
  flex-direction: row;
  color: red;
}

@media (min-width: 688px) {
  form {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }
}
